# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Other IDE/Editor configs (optional, remove if not needed)
.vscode/
.nbproject/

